<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" type="image/png" href="img/favicon.ico" />	
  <title>整合行銷部圖書館</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <!-- 標題 -->
  <header class="header d-flex justify-content-center align-items-center">
    <div class="text-center text-white">
      <h1>圖書館</h1>
      <h2>整合行銷部</h2>
    </div>
  </header>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: rgba(0,0,0,.9);">
    <a class="navbar-brand" href="#"><img src="img/logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">首頁 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="lottery.html">抽籤</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#collection">館藏</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#outprint">絕版品</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            成員
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">呂錦棠</a>
            <a class="dropdown-item" href="#">曾芷儀</a>
            <a class="dropdown-item" href="members/egg.html">許瑞宏</a>
            <a class="dropdown-item" href="#">楊慎淇</a>
            <a class="dropdown-item" href="#">洪筱婷</a>
            <a class="dropdown-item" href="#">林芝萱</a>
            <a class="dropdown-item" href="#">林昱宏</a>
            <a class="dropdown-item" href="#">詹宛霖</a>
            <a class="dropdown-item" href="#">黃薇</a>
            <a class="dropdown-item" href="#">許智超</a>
            <div class="dropdown-divider"></div>
            <!-- <a class="dropdown-item" href="#">Something else here</a> -->
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            工作
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="efc.html" target="_blank">電子金融月會</a>
            <a class="dropdown-item" href="cathay.html" target="_blank">跨公司數字</a>
            <a class="dropdown-item" href="loan/index.html" target="_blank">放款專區示範網頁</a>
            <!-- <div class="dropdown-divider"></div> -->
            <!-- <a class="dropdown-item" href="#">Something else here</a> -->
          </div>
        </li>
      </ul>  
        <!-- 
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>        
          <li class="nav-item">
            <a class="nav-link" href="#">聯絡我們</a>
          </li>
        -->      
        <!--
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
        -->
    </div>
  </nav>

  <!-- 1.成員介紹 -->
  <section class="py-5">
    <div class="container">
      <h3 class="text-center">成員介紹</h3>
      <h4 class="text-center">善男信女們</h4>
      <br>
      <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 text-center">
          <img class="img-fluid m-border" src="img/ben01.jpg">
          <p class="member-name">呂錦棠</p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 text-center">
          <img class="img-fluid f-border" src="img/na01.jpg">
          <p class="member-name">曾芷儀</p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 text-center">
          <a href="members/egg.html">
            <img class="img-fluid m-border" src="img/egg01.jpg">
          </a>
          <p class="member-name">egg</p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 text-center">
          <img class="img-fluid f-border" src="img/shenchi01.jpg">
          <p class="member-name">楊慎淇</p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 text-center">
          <img class="img-fluid f-border" src="img/amal01.jpg">
          <p class="member-name">洪筱婷</p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 text-center">
          <img class="img-fluid f-border" src="img/susan01.jpg">
          <p class="member-name">林芝萱</p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 text-center">
          <img class="img-fluid m-border" src="img/yulin01.jpg">
          <p class="member-name">林昱宏</p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 text-center">
          <img class="img-fluid f-border" src="img/astrid01.jpg">
          <p class="member-name">詹菀霖</p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 text-center">
          <img class="img-fluid f-border" src="img/vivien01.jpg">
          <p class="member-name">黃薇</p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 text-center">
          <img class="img-fluid m-border" src="img/mcw01.jpg">
          <p class="member-name">許智超</p>
        </div>
      </div>
    </div>
  </section>

  <!-- 2.抽籤 -->
  <section id="dice" class="py-5">
    <div class="container">
      <h3 class="text-center text-white">抽靈籤卜聖卦</h3>
      <h4 class="text-center text-white">遙遙天涯判死生，近近咫尺索命魂！</h4>
      <br>
      <!-- <div class="d-flex justify-content-center align-items-center"> -->
        <div class="row">
          <div class="col-md-6">
            <div class="card custom-card" style="width: 100%;">
              <div class="card-bg"></div>
              <div class="card-body">
                <h5 class="card-title text-white">面壁紅牆</h5>
                <!--善男信女們 -->
                <p class="text-white p-mar">
                  浩浩世途，是非同軌；齒牙相軋，波瀾四起。<br>
                  公獨何人，心如止水；風雨如晦，雞鳴不已。
                </p>
                <!--(用逗號隔開)-->
                <div class="more">
                  <form class="input-group mb-3">
                    <!-- 芷儀, 瑞宏, 慎淇, 芝萱, 筱婷, 智超, 昱宏, 宛霖, 黃薇, -->
                    <input type="text" class="form-control border-radius" aria-describedby="button-addon2"
                      id="more_input" value="筱婷, 昱宏,">
                    <div class="input-group-append">
                      <button onclick="addData()" class="btn btn-primary border-radius" type="button"
                        id="button-addon2"><i class="fas fa-user-plus"></i></button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <div class="card custom-card" style="width: 100%;">
              <div class="card-bg"></div>
              <div class="card-body">
                <h5 class="card-title text-white">子好勇乎？</h5>
                <p class="text-white p-mar">
                  吾嘗聞大勇於夫子矣：自反而不縮，雖褐寬博，吾不惴焉。自反而縮，雖千萬人吾往矣。
                </p>
                <div class="name_list text-center" id="name_list">
                  千呼萬喚始出來，猶抱琵琶半遮面。
                  <!--None! Not Ready! Please Add In.-->
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6"><!--col-md-6-->
            <div class="card custom-card" style="width: 100%;">
              <div class="card-bg"></div>
              <div class="card-body">
                <h5 class="card-title text-white">天理昭彰，報應不爽</h5>
                <p class="text-white p-mar">
                  <!-- 春蠶到死絲方盡，蠟炬成灰淚始乾。<br>
                  人生自古誰無死，留取丹心照汗青。<br> -->
                  舉頭三尺有神明，善惡到頭終有報。<br>
                  <!-- 小人得志，天網恢恢。<br>
                  君子道消，疏而不漏。<br> -->
                  心無罣礙，無罣礙故，無有恐怖，遠離顛倒夢想，究竟涅槃。
                </p>
                <form class="result input-group mb-3" style="margin-top: 15px;">
                  <div class="input-group-prepend">
                    <button class="btn btn-light" type="button" id="button-addon1"><i class="fas fa-pray"
                        style="font-size: 20px;"></i></button>
                  </div>
                  <input type="text" class="form-control text-center" id="oknum" name="oknum" readonly="readonly"
                    placeholder="善惡到頭終有報，多行不義必自斃！" aria-label="Example text with button addon" aria-describedby="button-addon1">
                </form>
                <div class="bubox text-center">
                  <button class="btn1" onclick="start()" accesskey="s">
                    <i class="far fa-play-circle"></i>
                    <!--開始-->
                  </button>
                  <button class="btn2" onclick="ok()" accesskey="o">
                    <i class="far fa-stop-circle"></i>
                    <!--停止-->
                  </button>
                  <button class="btn3" onclick="javascript:window.location.reload()">
                    <i class="fas fa-undo-alt"></i>
                    <!--重來-->
                  </button>
                </div>
                <div id="app" class="text-center pt-4">
                  <!-- {{y}}{{yy}} <br>
                  {{x}}{{xx}} <br>  -->
                  <img :src="yy" style="width: 150px;" class="rounded-circle">
                  <!-- <img :src="xx" style="width: 100px;"> -->
                  <!-- <img v-if="mcw" class="img-fluid f-border" src="img/mcw01.jpg" style="width: 100px">
                  <img v-if="na"  src="img/na01.jpg" style="width: 100px">
                  <img v-if="egg" class="img-fluid f-border" src="img/egg01.jpg" style="width: 100px">
                  <img v-if="ben" class="img-fluid f-border" src="img/ben01.jpg" style="width: 100px">
                  <img v-if="vivien" class="img-fluid f-border" src="img/vivien01.jpg" style="width: 100px">
                  <img v-if="astrid" class="img-fluid f-border" src="img/astrid01.jpg" style="width: 100px">
                  <img v-if="amal" class="img-fluid f-border" src="img/amal01.jpg" style="width: 100px">
                  <img v-if="susan" class="img-fluid f-border" src="img/susan01.jpg" style="width: 100px"> -->

                </div>
              </div>


              



            </div>
          </div>
        </div>
      <!-- </div> -->
      <div class="py-5">
        <h4 class="text-center text-white py-1">演出表</h4>
        <br>
        <div class="card custom-card">
          <div class="card-bg"></div>
          <div class="card-body">
            <h5 class="card-title text-white"></h5>
            <div class="d-flex justify-content-center align-items-center" style="margin-bottom: -10px;">
              <div class="table-responsive-md">
                <table class="tabel table-hover bottomBorder text-white" style="margin-bottom: 22px;">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">11</th>
                      <th scope="col">10</th>
                      <th scope="col">9</th>
                      <th scope="col">8</th>
                      <th scope="col">7</th>
                      <th scope="col">6</th>
                      <th scope="col">5</th>
                      <th scope="col">4</th>                      
                      <th scope="col">3</th>
                      <th scope="col">2</th>
                      <th scope="col">1</th>
                      <th scope="col">#</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td scope="row" class="text-nowrap">芷儀</td>
                      <td>10/15</td>
                      <td>-</td>
                      <td>-</td>
                      <td>12/19</td>
                      <td>10/9</td>
                      <td>6/20</td>
                      <td>5/2</td>
                      <td>3/14</td>
                      <td>1/17</td>
                      <td>11/22</td>
                      <td>9/13</td>
                      <td scope="row" class="text-nowrap">芷儀</td>
                    </tr>
                    <tr>
                      <td scope="row">瑞宏</td>
                      <td>9/10</td>
                      <td>6/18</td>
                      <td>4/16</td>
                      <td>11/7</td>
                      <td>9/12</td>
                      <td>6/6</td>
                      <td>4/18</td>
                      <td>1/31</td>
                      <td>1/10</td>
                      <td>10/18</td>
                      <td>10/4</td>
                      <td scope="row">瑞宏</td>
                    </tr>
                    <tr>
                      <td scope="row">慎淇</td>
                      <td>9/30</td>
                      <td>5/14</td>
                      <td>2/27</td>
                      <td>11/21</td>
                      <td>10/17</td>
                      <td>6/13</td>
                      <td>5/16</td>
                      <td>1/17</td>
                      <td>12/6</td>
                      <td>11/1</td>
                      <td>9/20</td>
                      <td scope="row">慎淇</td>
                    </tr>
                    <tr>
                      <td scope="row">芝萱</td>
                      <td style="color:orange;">10/22</td>
                      <td>6/11</td>
                      <td>4/30</td>
                      <td>2/6</td>
                      <td>9/19</td>
                      <td>5/23</td>
                      <td>4/11</td>
                      <td>2/14</td>
                      <td>1/29</td>
                      <td>11/15</td>
                      <td>9/13</td>
                      <td scope="row">芝萱</td>
                    </tr>
                    <tr>
                      <td scope="row">昱宏</td>
                      <td></td>
                      <td>5/28</td>
                      <td>3/19</td>
                      <td>10/31</td>
                      <td>10/24</td>
                      <td>7/4</td>
                      <td>3/28</td>
                      <td>3/21</td>
                      <td>11/29</td>
                      <td>-</td>
                      <td>-</td>
                      <td scope="row">昱宏</td>
                    </tr>
                    <tr>
                      <td scope="row">筱婷</td>
                      <td></td>
                      <td>7/2</td>
                      <td>3/26</td>
                      <td>1/16</td>
                      <td>9/19</td>
                      <td>9/5</td>
                      <td>4/25</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td scope="row">筱婷</td>
                    </tr>
                    <tr>
                      <td scope="row">宛霖</td>
                      <td>9/17</td>
                      <td>5/21</td>
                      <td>3/12</td>
                      <td>2/13</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>   
                      <td scope="row">宛霖</td>
                    </tr>
                    <tr>
                      <td scope="row">黃薇</td>
                      <td>10/8</td>
                      <td>7/9</td>
                      <td>2/20</td>
                      <td>1/9</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td scope="row">黃薇</td>
                    </tr>
                    <tr>
                      <td scope="row">智超</td>
                      <td>9/24</td>
                      <td>9/3</td>
                      <td>4/9</td>
                      <td>1/9</td>
                      <td>9/12</td>
                      <td>5/30</td>
                      <td>3/28</td>
                      <td>2/14</td>
                      <td>12/27</td>
                      <td>11/1</td>
                      <td>10/4</td>
                      <td scope="row">智超</td>
                    </tr>
                  </tbody>      
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- 3.館藏 -->
  <section id="collection" class="py-5">
    <div class="container">
      <h3 class="text-center">館藏</h3>
      <h4 class="text-center">書中自有三上悠亞</h4>
      <br>
      <div class="row">
        <!-- 第一欄 -->
        <div class="col-lg-4 col-md-6">
          <!-- 呂錦棠 -->
          <div class="card mb-2">
            <div class="card-header d-flex bg-m-roof">
              <i class="fas fa-male"></i>
              <div>
                <h5>呂錦棠</h5>
                <h6>Ben</h6>
              </div>
            </div>
            <div class="card-body">
              <ol>
                <li>世界冠軍紙飛機</li>
                <li>決斷的演算─預測、分析與好決定的 11 堂邏輯課</li>
                <li>地圖大歷史：探索世界上最具時代意義的偉大地圖</li>
                <li>便利店人間</li>
                <li>2018 台北米其林指南 Taipei：The MICHELIN</li>
                <li>拚死也要去的世界絕景</li>
                <li>零年：1945年，現代世界的夢想與夢碎之路</li>
                <li>心的經典─心經新釋</li>
                <li>這樣裝潢，不後悔</li>              
              </ol>
            </div>
          </div>
          <!-- 楊慎淇 -->
          <div class="card mb-2">
            <div class="card-header d-flex bg-f-roof">
              <i class="fas fa-female"></i>
              <div>
                <h5>楊慎淇</h5>
                <h6>ShenChi</h6>
              </div>
            </div>
            <div class="card-body">
              <ol>
                <li>第一次油漆就上手</li>
                <li>雪球：巴菲特傳</li>
                <li>五代中醫救命之方</li>
                <li>The Science of Success</li>
                <li>Good Profit</li>
                <li>馬雲管理日志</li>
                <li>屋主都說讚的居家好設計 350+</li>
                <li>薑黃的秘密</li>
                <li>電子商務─新商業革命</li>
                <li>如何從台股賺一億</li>
                <li>專案管理聖經</li>
                <li>神奇的肝膽排石法</li>
                <li>行銷思想</li>
                <li>牛奶可樂經濟學</li>
                <li>向宇宙下訂單</li>
                <li>幸福退休新時代</li> 
                <li>只買 4 支股，年賺 18%</li>              
              </ol>
            </div>
          </div>
          <!-- 洪筱婷 -->
          <div class="card mb-2">
            <div class="card-header d-flex bg-f-roof">
              <i class="fas fa-female"></i>
              <div>
                <h5>洪筱婷</h5>
                <h6>Amal</h6>
              </div>
            </div>
            <div class="card-body">
              <ol>
                <li>在咖啡冷掉之前</li>
                <li>世界太 boring 我們需要文藝復興</li>
                <li>不懂神話就只能看裸體了啊</li>
                <li>台灣史上最有梗的台灣史</li>
                <li>藝術家的一日廚房：學校沒教的藝術史</li>
                <li>我在外交部工作</li>
                <li>手繪台灣人 400 年史</li>
                <li>台北城市散步</li>
                <li>巴黎地鐵站的歷史課</li>
                <li>寫給年輕人的古典音樂小史</li>   
                <li>維梅爾的帽子：揭開十七世紀全球貿易的序幕</li>
                <li>看圖賞味葡萄酒圖鑑</li>     
              </ol>
            </div>
          </div>
          <!-- 許智超 -->
          <div class="card mb-2">
            <div class="card-header d-flex bg-m-roof">
              <i class="fas fa-male"></i>
              <div>
                <h5>許智超</h5>
                <h6>MCW</h6>
              </div>
            </div>
            <div class="card-body">
              <ol>
                <li><a target="_blank" href="https://doltegg.github.io/egg/others/mcw/timid.pdf">膽小別看畫</a></li>
                <li><a target="_blank" href="https://doltegg.github.io/egg/others/mcw/runner.pdf">跑者時代</a></li>
                <li><a target="_blank" href="https://doltegg.github.io/egg/others/mcw/talk.pdf">幹大事的閒聊力</a></li>
                <li><a target="_blank" href="https://doltegg.github.io/egg/others/mcw/badblood.pdf">惡血</a></li>
                <li><a target="_blank" href="https://doltegg.github.io/egg/others/mcw/chungking.pdf">重慶大廈</a></li>
                <li><a target="_blank" href="https://doltegg.github.io/egg/others/mcw/circus.pdf">奧運的詛咒</a></li>
                <li><a target="_blank" href="https://doltegg.github.io/egg/others/mcw/onechild.pdf">獨生</a></li>
                <li><a target="_blank" href="https://doltegg.github.io/egg/others/mcw/thailand.pdf">你所不知道的泰國</a></li>
                <li><a target="_blank" href="https://doltegg.github.io/egg/others/mcw/SlaveLaborIsland.pdf">奴工島</a></li>
                <li>餐桌上的宋朝</li>
                <li>亦近亦遠的東南亞</li>   
                <li>HOWFUN 如何爽當 youtubeer</li>
                <li>香港電影血與骨</li>
                <li>靠包裝就能賣</li>  
              </ol>
            </div>
          </div>
        </div>    
          
        <!-- 第二欄     -->
        <div class="col-lg-4 col-md-6">
          <!-- 曾芷儀 -->
          <div class="card mb-2">
            <div class="card-header d-flex bg-f-roof">
              <i class="fas fa-female"></i>
              <div>
                <h5>曾芷儀</h5>
                <h6>Na</h6>
              </div>
            </div>
            <div class="card-body">
              <ol>
                <li>正向教養</li>
                <li>愛是一切的答案</li>
                <li>靈魂之旅</li>
                <li>心靈雞湯</li>
                <li>被討厭的勇氣二部曲完結篇</li>
                <li>你值得過更好的生活</li>
                <li>開啟高敏感孩子天賦</li>
                <li>孩子，先別急著吃棉花糖</li>
                <li>有錢人想的和你不一樣</li>
                <li>為什麼你不敢面對真實的自己</li>
                <li>練習，喜歡自己</li>
                <li>秘密</li>
                <li>零極限：創造健康、平靜與財富的夏威夷療法</li>
                <li>Hero：活出你內在的英雄</li>
                <li>向宇宙下訂單</li>
                <li>想像 5 年後的你</li>
                <li>失落的致富經典</li>
                <li>斜槓青年</li>
                <li>時間的陷阱</li>
                <li>覺醒的你</li>
                <li>小王子</li>
                <li>富爸爸，窮爸爸</li>
              </ol>
            </div>
          </div>
          <!-- 林芝萱 -->
          <div class="card mb-2">
            <div class="card-header d-flex bg-f-roof">
              <i class="fas fa-female"></i>
              <div>
                <h5>林芝萱</h5>
                <h6>Susan</h6>
              </div>
            </div>
            <div class="card-body">
              <ol>
                <li>這樣 ○ 那樣 X 馬上學好設計</li>
                <li>工作，剛剛好就好</li>
                <li>設計心理學</li>
                <li>斜槓青年</li>
                <li>被討厭的勇氣</li>
                <li>打動人心的產品設計</li>
                <li>一擊奏效的社群行銷術</li>
                <li>敏捷與 Scrum 軟體開發速成</li>
                <li>願你的深情，能被溫柔以待</li>
                <li>刻意練習：原創者全面解析，比天賦更關鍵的學習法</li>
                <li>如果可以簡單，誰想要複雜</li>
                <li>你的孩子不是你的孩子</li>
              </ol>
            </div>
          </div>
          <!-- 林昱宏 -->
          <div class="card mb-2">
            <div class="card-header d-flex bg-m-roof">
              <i class="fas fa-male"></i>
              <div>
                <h5>林昱宏</h5>
                <h6>Hung</h6>
              </div>
            </div>
            <div class="card-body">
              <ol>
                <li>橡皮擦計畫</li>
                <li>動物農莊</li>
                <li>動物農莊求生計</li>
                <li>四騎士主宰的未來</li>
                <li>好策略‧壞策略</li>
                <li>貝佐斯傳</li>
                <li>我絕非虛構的美好七年</li>
                <li>為什麼 Google、LinkedIn、波音、高通、迪士尼都找他合作？</li>
                <li>窮查理的普通常識</li>
                <li>大破壞</li>
                <li>兩年八個月又二十八夜</li>
                <li>創意天才的蝴蝶思考術</li>
              </ol>
            </div>
          </div>
          <!-- 黃薇 -->
          <div class="card mb-2">
            <div class="card-header d-flex bg-f-roof">
              <i class="fas fa-female"></i>
              <div>
                <h5>黃薇</h5>
                <h6>Vivienne</h6>
              </div>
            </div>
            <div class="card-body">
              <ol>
                <li>精準用腦</li>
                <li>原子習慣</li>
                <li>二十一世紀生死課</li>
                <li>閒暇與無聊</li>
                <li>變老的勇氣</li>
                <li>不斷幸福論</li>
                <li>怪奇事物所：你知道嗎？其實我們都很怪！</li>
              </ol>
            </div>
          </div>

        </div>


        <!-- 第三欄     -->
        <div class="col-lg-4 col-md-6">
          <!-- 許瑞宏 -->
          <div class="card mb-2">
            <div class="card-header d-flex bg-m-roof">
            <!-- <div class="card-header d-flex  justify-content-top bg-m-roof"> -->
              <i class="fas fa-male"></i>
              <div>
                <h5>許瑞宏</h5>
                <h6>egg</h6>
              </div>
            </div>
            <div class="card-body">
              <ol>
                <li>惡意</li>
                <li>解憂雜貨店</li>
                <li>寫作革命</li>
                <li>穿裙子的男孩</li>
                <li>惡血</li>
                <li>基因</li>
                <li>因為愛，我們呼吸</li>
                <li>了解「人」，你才知道怎麼設計！</li>
                <li>深夜小狗神祕習題</li>
                <li>小說課 I ─ 折磨讀者的祕密</li>
                <li>小說課 II ─ 偷故事的人</li>
                <li>小說課 III ─ 偷電影的故事賊</li>
                <li>餘震</li>
                <li>這就是我來到這世界的理由</li>
                <li>你的孩子不是你的孩子</li>
                <li>故事 1：3 分鐘說 18 萬個故事，打造影響力</li>
                <li>故事 2：99% 有效的故事行銷，創造品牌力</li>
                <li>當最後一個音符輕柔落下</li>
                <li>不當行為</li>
                <li>七個會議</li>
                <li>新參者</li>
                <li>親愛的臥底經濟學家</li>
                <li>童話裡隱藏的世界史</li>
                <li>禁忌的魔術</li>
                <li>在天堂遇見的五個人</li>
                <li>在天堂遇見的下一個人</li>
                <li>CSS 大全</li>                
                <li>故事行銷</li>
                <li>牧羊人讀書筆記</li>
                <li>萬病之王</li>
                <li>超棒的小說這樣寫</li>
                <li>我只要寫作，就是回家</li>
                <li>我是許涼涼</li>
                <li>活著</li>
                <li>兄弟</li>
                <li>第七天</li>
                <li>家規</li>
                <li>許三觀賣血記</li>
                <li>呼喊與細雨</li>
                <li>霍金大見解</li>
                <li>沒有神的所在</li>
                <li>白夜行</li>
                <li>雪舞者</li>
                <li>情緒勒索</li>
                <li>破百萬點閱文案寫作大解密</li>
                <li>史蒂芬金的故事販賣機</li>
              </ol>
            </div>
          </div>
          <!-- 詹宛霖 -->
          <div class="card mb-2">
            <div class="card-header d-flex bg-f-roof">
              <i class="fas fa-female"></i>
              <div>
                <h5>詹宛霖</h5>
                <h6>Astrid</h6>
              </div>
            </div>
            <div class="card-body">
              <ol>
                <li>未來年表</li>
                <li>2025 無齡時代：迎接你我的超高齡社會</li>
                <li>無毒好生活</li>
                <li>別再錯用你的腦</li>
                <li>Marketing 4.0</li>
                <li>像芬蘭這樣教</li>
                <li>讓天賦自由</li>
              </ol>
            </div>
          </div>          
        </div>  

      </div>
    </div>
  </section> 

  <!-- 4.絕版品 -->
  <section id="outprint" class="py-5">
    <div class="container">
      <h3 class="text-center">絕版品</h3>
      <h4 class="text-center">腦中只有明日花綺羅</h4>
      <br>
      <div class="row">
        <!-- 第一欄 -->
        <div class="col-lg-4 col-md-6">
          <!-- 鄭陳澤 -->
          <div class="card mb-1">
            <div class="card-header bg-roof">
                <h5>鄭陳澤<small>Andy</small></h5>
            </div>
            <div class="card-body body-bg">
              <ol>
                <li>錢買不到的東西</li>
                <li>失控的同理心</li>
                <li>外商顧問超強資料製作術</li>
                <li>刻意練習</li>
                <li>好人總是自以為是</li>
                <li>為什麼我們需要公共哲學</li>
                <li>隱藏人格們的旅行清單</li>
                <li>網路連鎖效應</li>
                <li>縮時社會</li>
                <li>斜槓青年</li>
                <li>被討厭的勇氣</li>
                <li>光榮城市</li>
              </ol>
            </div>
          </div>
          <!-- 劉慧伶 -->
          <div class="card mb-1">
            <div class="card-header bg-roof">
                <h5>劉慧伶<small></small></h5>
            </div>
            <div class="card-body body-bg">
              <ol>
                <li>尖叫感 (33 個關鍵文案技巧)</li>
                <li>肌內效魔法貼</li>
                <li>成功廣告影片的創意與製作</li>
                <li>微電影製作與行銷這檔事</li>
                <li>創意是發現不是發明</li>
                <li>迎向無限挑戰─劉在錫</li>
                <li>貼就有效</li>
                <li>基礎牙體技術學</li>
                <li>安靜是種超能力</li>
                <li>用 LINE 貼圖月入 30 萬</li>
                <li>大腦衝浪</li>
                <li>微縮模型雙料冠軍的創作小世界</li>
              </ol>
            </div>
          </div>
          <!-- 張峻銘 -->
          <div class="card mb-1">
            <div class="card-header bg-roof">
                <h5>張峻銘<small></small></h5>
            </div>
            <div class="card-body body-bg">
              <ol>
                <li>中川式護眼法</li>
                <li>精準明確思考術</li>
                <li>內容電力公司</li>
                <li>引爆趨勢</li>
                <li>影響力</li>
                <li>誰說人是理性的</li>
                <li>鉤癮效應</li>
                <li>聰明捷徑</li>
                <li>你想要的幸福藏在你不要的改變裡</li>
                <li>競爭力</li>
                <li>內向心理學</li>
                <li>瘋潮行銷</li>
                <li>超高效心智圖法</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- 第二欄 -->
        <div class="col-lg-4 col-md-6">
          <!-- 黃于庭 -->
          <div class="card mb-1">
            <div class="card-header bg-roof">
                <h5>黃于庭<small>Yuting</small></h5>
            </div>
            <div class="card-body body-bg">
              <ol>
                <li>翻身準則</li>
                <li>腦科學時間術</li>
                <li>菜鳥變成問題解決高手</li>
                <li>魔球</li>
                <li>簡報的藝術</li>
                <li>向上管理</li>
                <li>師父</li>
                <li>橡皮擦計畫</li>
                <li>ETF 煉金術</li>
                <li>五線譜投資術</li>
                <li>這些憑什麼爆紅</li>
                <li>斜槓青年</li>
              </ol>
            </div>
          </div>                   
          <!-- 林辰 -->
          <div class="card mb-1">
            <div class="card-header bg-roof">
                <h5>林辰<small></small></h5>
            </div>
            <div class="card-body body-bg">
              <ol>
                <li>解憂雜貨店</li>
                <li>惡血</li>
                <li>被討厭的勇氣</li>
                <li>被討厭的勇氣 2</li>
                <li>獲利團隊</li>
                <li>電商 Zero to one</li>
                <li>優秀的人，都敢對自己下手</li>
                <li>光榮城市</li>
                <li>你的善良必須有點鋒芒</li>
                <li>情緒勒索</li>
                <li>真確</li>
                <li>超越地表最強小編</li>
              </ol>
            </div>
          </div>
          <!-- 許立緯 -->
          <div class="card mb-1">
            <div class="card-header bg-roof">
                <h5>許立緯<small>David</small></h5>
            </div>
            <div class="card-body body-bg">
              <ol>
                <li>待辦事項這樣列工作當場完成一半</li>
                <li>High Performance Habits</li>
                <li>與成功有約：高效能人士的七個習慣</li>
                <li>刻意練習：原創者全面解析，比天賦更關鍵的學習法</li>
                <li>為什麼這樣工作會快、準、好：全球瘋行的工作效率升級方案，讓你的生活不再辛苦，工作更加省時省力</li>
                <li>為什麼我們這樣生活，那樣工作?</li>
                <li>這輩子，只能這樣嗎?你是自己最大的敵人</li>
                <li>峰與谷：超越逆境、享受順境的人生禮物</li>
                <li>周一清晨的領導課</li>
                <li>先別急著吃棉花糖</li>
                <li>成功從聚焦一件事開始</li>
                <li>想成功，先吃了那隻青蛙：博恩 ‧ 崔西提升個人效力 21 個技巧</li>
                <li>原來有錢人都這麼做：效法有錢人的理財術，學習富人的致富之道</li>
                <li>Mindset: The New Psychology of Success</li>
                <li>Deep Work: Rules for Focused Success in a Distracted World</li>
              </ol>
            </div>
          </div> 
        </div>
        <!-- 第三欄 -->
        <div class="col-lg-4 col-md-6">
          <!-- 張婷雅 -->
          <div class="card mb-1">
            <div class="card-header bg-roof">
                <h5>張婷雅<small>ZZoya</small></h5>
            </div>
            <div class="card-body body-bg">
              <ol>
                <li>6 分鐘日記的魔法</li>
                <li>被討厭的勇氣</li>
                <li>不要在該奮鬥時選擇安逸</li>
                <li>如何在 LINE、FB 寫出爆款文案</li>
                <li>原則：生活和工作</li>
              </ol>
            </div>
          </div>
          <!-- 林祐任 -->
          <div class="card mb-1">
            <div class="card-header bg-roof">
                <h5>林祐任<small></small></h5>
            </div>
            <div class="card-body body-bg">
              <ol>
                <li>從東南亞到東協：存異求同的五百年東南亞史</li>
                <li>馬雲：未來已來</li>
                <li>A Splendid Exchange: How Trade Shaped the World</li>
                <li>Factfulness: Ten Reasons We’re Wrong About the World - and Why Things Are Better Than You Think</li>
                <li>華頓商學院最受歡迎的談判課:上完這堂課，世界都會聽你的</li>
                <li>第五項修練：學習型組織的藝術與實務</li>
                <li>智慧型股票投資人</li>
                <li>資本的世界史：財富哪裡來?經濟成長、貨幣與危機的歷史</li>
                <li>複雜問題的策略思考 &amp 分析</li>
                <li>商業冒險：華爾街的 12 個經典故事</li>
                <li>最后一公里的哲學：電商物流全鏈條運營管理</li>
                <li>手機消費革命：行動化時代影響消費者決策的九種力量</li>
                <li>刻意練習：原創者全面解析，比天賦更關鍵的學習法</li>
                <li>美國的反智傳統：宗教、民主、商業與教育如何形塑美國人對知識的態度？</li>
                <li>Thinking, Fast and Slow</li>
                <li>重新想像印度：亞洲下一個超級強國的潛力解碼</li>
                <li>中東心臟：沙烏地阿拉伯的人民、宗教，歷史與未來</li>
                <li>橫渡孟加拉灣：浪濤上流轉的移民與財富，南亞‧東南亞五百年史</li>
                <li>能源大騙局：綠能神話引燃的世紀豪賭</li>
                <li>基因：人類最親密的歷史</li>
                <li>萬病之王：一部癌症的傳記，以及我們與它搏鬥的故事</li>
                <li>你從哪裡來？一個字聽出你的故鄉─為什麼要懂語言學</li>
                <li>漢字日本：日本人說的和你想的不一樣，學習不勉強的日文漢字豆知識</li>
                <li>原則：生活和工作</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
  </section>




  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>  

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>



  <!-- ********** 抽獎 ********** -->
  <script type="text/javascript">
    var allData = {};
    function addData() {
      var input = document.getElementById("more_input");
      var data = input.value;
      input.value = '';
      if (!data) { alert('還沒拜請，是要加「鬼」膩？'); return; }
      data = data.replace("，", ",").replace(",,", ",").split(",");
      var d, i, s = '';
      for (i = 0; i < data.length; i++) {
        d = data[i].replace(/(^\s*)|(\s*$)/g, '');
        if (d && !allData[d]) {
          allData[d] = -1;
          s += '<span ondblclick="removeData(this)" title="雙擊刪除">' + d + '</span>';
        }
      }
      var name_list = document.getElementById("name_list");
      if (name_list.getElementsByTagName('span').length < 1) name_list.innerHTML = '';
      name_list.innerHTML += s;
      timer && start();
    }
    function removeData(obj) {
      delete allData[obj.innerHTML];
      obj.parentNode.removeChild(obj);
    }
    var timer;
    var dataarr = [];
    function change() {
      document.getElementById("oknum").value = dataarr[GetRnd(0, dataarr.length - 1)];
    }
    function clear() {
      clearInterval(timer);
      timer = '';
      document.getElementById("oknum").value = '';
    }
    function start() {
      clear();
      dataarr = [];
      for (var d in allData) {
        if (allData[d] === -1) dataarr.push(d);
      }
      if (dataarr.length < 1) {
        alert('啊，沒有候選人，是要抽「鬼」膩？');
        return;
      }
      timer = setInterval('change()', 46);
    }
    function ok() {
      clearInterval(timer);
      timer = '';
      var lucky = document.getElementById("oknum").value;
      if (!lucky) return;
      var spans = document.getElementById("name_list").getElementsByTagName('span');
      if (spans.length < 1) return;
      for (i = 0; i < spans.length; i++) {
        if (spans[i].innerHTML == lucky) {
          spans[i].className = 'select';
          allData[spans[i].innerHTML] = 1;
        }
      }
          // 試著寫<!-- 芷儀, 瑞宏, 慎淇, 芝萱, 筱婷, 智超, 昱宏, 宛霖, 黃薇, -->
            var app = new Vue({
              el: '#app',
              data: {
                y: lucky,
                // x: '',
                // xx: "img/" + x + "01.jpg"
              },
              computed: {
                yy: function () {
                  if(this.y==="芷儀"){
                    return "img/na01.jpg"
                  }else if(this.y==="瑞宏"){
                    return "img/egg01.jpg"
                  }else if(this.y==="慎淇"){
                    return "img/shenchi01.jpg"
                  }else if(this.y==="芝萱"){
                    return "img/susan01.jpg"
                  }else if(this.y==="筱婷"){
                    return "img/amal01.jpg"
                  }else if(this.y==="智超"){
                    return "img/mcw01.jpg"
                  }else if(this.y==="昱宏"){
                    return "img/yulin01.jpg"
                  }else if(this.y==="宛霖"){
                    return "img/astrid01.jpg"
                  }else if(this.y==="黃薇"){
                    return "img/vivien01.jpg"
                  }else {
                    return "img/f01.jpg"
                  }	
                },
                // x: function () {
                //   if(this.y==="芷儀"){
                //     return "na"
                //   }else if(this.y==="瑞宏"){
                //     return "egg"
                //   }else if(this.y==="慎淇"){
                //     return "shenchi"
                //   }else if(this.y==="芝萱"){
                //     return "susam"
                //   }else if(this.y==="筱婷"){
                //     return "amal"
                //   }else if(this.y==="智超"){
                //     return "mcw"
                //   }else if(this.y==="昱宏"){
                //     return "yulin"
                //   }else if(this.y==="宛霖"){
                //     return "astrid"
                //   }else if(this.y==="黃薇"){
                //     return "vivien"
                //   }else {
                //     return "f"
                //   }
                // }
            },   
          })
          // 試著寫          
    }
    function GetRnd(min, max) {
      return parseInt(Math.random() * (max - min + 1));
    }

      
    
  </script>
</body>

</html>